<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="LocalGodot" value="C:\Users\rurik\Godot\Engines\Custom\godot-4.6.2-voxel-steam\godot\bin\GodotSharp\Tools\nupkgs" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>